/*
!/.gitignore
!/.db_dump
!/.docker
/.docker/mariadb/volumes/*
!/.docker/mariadb/volumes/.gitkeep
!/.env
!/.gitmodules
!/README.md
!/Makefile
!/www

#.idea/
#/htdocs/*
#!/htdocs/composer.json
#certs/*
#/.docker-sync/
#auth.json
#/.docker/nginx/ssl/*
#!/.docker/nginx/ssl/
