{% extends 'base.html.twig' %}

{% block title %}SSBU Pool{% endblock %}

{% block body %}
<style>
*{font: 18px/1.5 sans-serif; margin:0; padding:0;}
    body {display:flex; height:100vh; width:100vw;flex-direction:column; align-items:center; background: linear-gradient(white, 85% ,#bf0000); }
    h1 {font-weight:bold; font-size:2em; width:fit-content;}
    h2 {font-size:1.5em; padding:0; margin-bottom:0;width:fit-content;}
    h3 {font-size:1.25em; margin-top:0.5vh; margin-bottom:0.5vh;width:fit-content; }

    .header {display: flex; justify-content:space-between; align-items:center; width:100vw; margin:0; padding:0; box-shadow: 0px 0px 5px black;  }
    button{padding:5px; padding-left:10px; padding-right:10px; background-color:#990000; color:white; border:none; border-radius:0.5em}
    button:hover {cursor:pointer; background-color:#690000;}


    .loginOption { position: inherit; display: flex; justify-content:space-evenly;}

    .loginOption button {margin-right:1vw;}

    .descriptionCharacterChoiceContainer {width:60vw; display:flex; justify-content:center;  flex-direction:column;}

</style>


<div class="header"> 
    <div class="placeholder"></div>
    <h1>SSBU Pool<h1>
    <div class="loginOption">
        <a class="loginBtn" href="{{ path("app_login") }}"><button>Login</button></a>
        <a class="registerBtn" href="{{ path("app_register") }}"><button>Register</button></a>
    </div>

</div>

<div class="descriptionContainer">
    <h1>Welcome to your Super Smash Bros Ultimate Champion pool !</h1>
    <p>By logging or registering, you will be able to create and configure your SSBU champion pool, check trivia about your character, stats, and you can add notes to your characters in order to index certain tips, things you want to train or infos relatives to specific match ups</p>
</div>
{% endblock %}
